<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLIPKART</title>
    <style>
        body
        {
            background-color:yellow;
        }
    </style>
</head>
<body>
    <center>
        <h1>welcome to FLIPKART</h1>
        <a href="https://www.flipkart.com/mobile-phones-store">
            <h1>
                Mobiles
            </h1>
        </a>
        <a href="https://www.flipkart.com/laptops-store">
            <h1>Laptop</h1>
         </a>
         <a href="https://www.flipkart.com/household/pr?page=52&sid=r4l">
            <h1>
                House hold
            </h1>
         </a>
         <a href="{% url 'google' %}"><h2>Back to google</h2></a>
    </center>
</body>
</html>