<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>google</title>
    <style>
        body
        {
            background-color: rgb(149, 149, 248);
            color: red;
        }
        a
        {
            color: rgb(124, 226, 124);
        }
    </style>
</head>
<body>
    <center>
        <h1>welcome to google....</h1>

        <a href="{% url 'user' %}"> <h1>search here</h1></a>
    </center>
    
</body>
</html>